.execResult {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    font-size: 14px;
    :global {
      .title {
        flex-shrink: 0;
        margin-right: 10px;
        font-weight: bold;
        &::after {
          content: ":";
        }
      }
      .success {
        color: rgba(8, 255, 200, 1);
      }
      .fail {
        white-space:pre-wrap;
        color: #d25565;
        word-break: break-all;
      }
    }
  }
  .confirmInfo{
    padding: 20px 15px 30px;
    max-height: 500px;
    overflow-y: auto;
    :global{

      .info{
        border-radius: 6px;
        background: #bbded6;
        color:#414141;
        font-size: 14px;
        padding: 2px 4px;
        margin-bottom: 12px;
      }
    }
  }