<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <style>
html,
body {
  height: 100%;
}

body {
  margin: 0;
}

header {
  position: sticky;
  top: 0;

  height: 50px;

  background-color: red;
}

    </style>
  </head>

  <body>
    <div style="height:1000px;">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt
      pariatur suscipit aliquid nam, provident repellat natus itaque quam
      reiciendis. Voluptatem natus nulla quam commodi, quasi obcaecati ea maxime
      harum! Vero, error qui accusantium, ad veritatis saepe blanditiis suscipit
      libero, accusamus distinctio facere cum maxime repellat ducimus quo ipsam
      nobis? Aliquid corporis, harum nesciunt quasi aspernatur suscipit
      reiciendis. Odit doloribus dolor, saepe minima modi nulla labore
      voluptatem molestias aliquid illum ipsam vitae eius blanditiis corporis
      excepturi pariatur nam culpa illo libero quae sed eligendi aperiam sint.
      Natus obcaecati cupiditate exercitationem ab non velit blanditiis
      voluptatem nostrum, voluptatum labore, harum excepturi temporibus dolore
      error quia, nam sapiente repudiandae consequuntur accusamus repellat.
      Deleniti atque, veniam accusantium omnis sed, provident vero ipsam
      voluptate delectus ducimus nulla odit, obcaecati eaque accusamus molestias
      corrupti. Nostrum quod aperiam omnis accusantium dolorum totam error. Quod
      sequi, sapiente maiores voluptates aliquam fugiat odit! Iste quod suscipit
      at, magnam eius animi labore id maiores beatae eos architecto, nemo quidem
      veniam voluptatum illum fuga repellat similique incidunt soluta. Nobis,
      quia. Officia ipsam voluptatibus molestiae, et quae exercitationem! Earum
      reiciendis nam quo alias ipsa. Voluptatum fugiat est et autem iure maiores
      libero, ab tempore recusandae nesciunt sint aliquam error incidunt unde
      tempora dolores, reiciendis veritatis quis ratione aliquid quam suscipit
      eos delectus velit! Explicabo dolorum corrupti autem dicta, nam impedit
      obcaecati ipsa vero alias ullam fugit natus a dolor magnam deserunt rerum
      sequi recusandae? Aspernatur, cumque! Harum nesciunt, illum, neque
      repellendus commodi rerum autem voluptates, laborum reprehenderit
      reiciendis saepe! Vel, quas? Quam alias voluptatum qui eaque nisi, dolor
      architecto enim. Dicta, et facere vero dolorum culpa, enim consectetur
      atque sunt placeat eum repellendus earum, optio deleniti qui labore
      commodi dolores cupiditate ipsum totam nesciunt nobis quos! Magni vel
      asperiores iusto veritatis ad deserunt repudiandae vitae. Voluptatem
      quidem quod facilis optio voluptatibus temporibus rerum? Obcaecati dicta
      doloribus delectus quo nesciunt dolorum mollitia sapiente iure reiciendis
      pariatur quisquam commodi cum incidunt aut, saepe adipisci quis
      repudiandae enim itaque. Animi quo voluptatibus dolore, corporis enim,
      nisi dolorem eaque aperiam inventore sunt maxime accusantium eius
      reiciendis quisquam nostrum totam, dolores ducimus odit? Praesentium
      maiores animi, consequuntur, esse dolorum ab enim consectetur est sequi
      aliquid sint illo, soluta nihil veritatis! Corporis soluta quasi, fugit
      quaerat deleniti quod vero enim assumenda error veniam? Saepe sapiente
      magni totam dicta natus rerum velit soluta quidem illum placeat neque,
      architecto cumque doloribus, modi officiis, alias labore minima aut animi.
      Suscipit aliquid aliquam tenetur qui atque, enim est doloremque deleniti
      aut delectus? Sit itaque praesentium doloribus voluptas, sed perferendis?
      Officia mollitia quis incidunt vero, corrupti eius soluta expedita. Harum
      accusamus facere corrupti illum nemo eius tenetur aut incidunt, iure,
      dolores earum rerum, aliquid alias amet repellat consequatur nesciunt
      iste! Eveniet aliquid earum perferendis error, possimus, repudiandae
      quisquam similique necessitatibus, ut nam beatae. Incidunt hic ex
      assumenda ut ea cupiditate quisquam ipsam quaerat quos delectus
      voluptatibus ipsa repellendus aliquam ducimus dolorem fugiat blanditiis
      esse facilis doloribus, quibusdam ab laudantium neque vitae. Fuga alias
      unde quasi quas facere corrupti nobis, similique totam hic nihil voluptate
      provident aliquam natus error exercitationem quod recusandae soluta odio
      porro. Ea aliquam quae vitae reprehenderit nihil magnam consequuntur,
      facilis maxime blanditiis, totam fuga quibusdam odit voluptate molestiae
      expedita assumenda consequatur? Tempora repudiandae, repellat officia
      cupiditate doloribus ducimus. Accusantium voluptate facere, laudantium
      neque numquam iure maxime. Quibusdam, ratione modi ex sunt earum placeat
      repellat minus deleniti quasi quidem est ducimus ea error expedita, omnis
      rem rerum debitis voluptas ipsa nisi pariatur. Sequi, voluptatem? Sint
      consectetur, corporis dicta architecto illo nihil iusto illum odio ut
      molestias asperiores. Distinctio dolorum maxime voluptas illo
      exercitationem facilis, nemo libero eveniet vel porro explicabo culpa,
      doloremque sint inventore sapiente officia illum? Quasi numquam, porro,
      dolores, aut doloribus enim dolor nam perferendis odit deleniti magnam
      maxime quo. Numquam hic tempora earum repellendus ea. Id necessitatibus
      quis pariatur tenetur minus dolor dolores dolorum placeat distinctio
      laboriosam praesentium quasi libero inventore obcaecati, aut veritatis
      veniam natus aliquam! Iste libero, in quidem laboriosam architecto
      molestiae deserunt ipsam. Inventore amet repellat dolore aliquam quam
      commodi, libero, eius placeat nobis reprehenderit soluta. Ut similique
      repellendus quibusdam quo illum odit quam neque omnis commodi saepe ipsum
      dignissimos placeat laudantium dolores velit excepturi architecto, sit
      modi repudiandae aliquam! Sit, deleniti! Ad at cupiditate ut sed similique
      voluptates accusamus nobis in iste? Repellendus quaerat amet, perferendis
      praesentium deserunt deleniti explicabo sint expedita voluptate incidunt
      modi ratione, eius earum iusto omnis ipsam fugiat doloremque aliquam
      officia consequatur! Impedit dignissimos a, aspernatur eos sint asperiores
      illum voluptatem delectus consectetur unde eum quod quasi distinctio atque
      commodi dolor dolore iste quisquam nulla totam. Illo laudantium omnis a
      illum nostrum id error recusandae? Sunt fuga adipisci dicta optio minus
      dolores. Expedita sunt, delectus amet ex unde harum facilis cumque
      voluptatum odio tempore rerum, quibusdam consectetur deleniti eius error
      cupiditate quidem soluta tempora nesciunt architecto similique obcaecati a
      iusto eos. Maxime illo expedita quod corrupti repellendus voluptas quidem
      saepe eius, quae nemo totam a assumenda eum minus eligendi iste cum
      laudantium nam? Explicabo nemo alias possimus adipisci fuga. Eaque fugiat
      aliquid facere distinctio! Nemo ipsa excepturi possimus quidem natus et,
      tempore harum totam ad dignissimos dolores animi magni beatae mollitia
      reiciendis voluptas ipsum officiis! Est incidunt, atque officia cum
      accusantium ipsam distinctio, pariatur consectetur voluptas quo provident,
      molestiae aliquam illum omnis modi quibusdam ex autem. Ea, nobis itaque
      nam veniam veritatis in labore, porro aliquid dolorum debitis non
      voluptatibus dicta eveniet earum voluptatem quibusdam ullam, numquam totam
      molestiae. Placeat fugit voluptas minima animi nam tenetur veritatis rem
      perspiciatis dicta eius, ad, consequatur suscipit doloremque modi odio eum
      vero dolores inventore, quo omnis doloribus ducimus dolorum. Dolore omnis
      harum nihil, temporibus quo at beatae sit porro facere quas suscipit,
      fugiat eveniet. Eveniet molestias assumenda aliquam quibusdam! Nisi
      veritatis quis numquam porro necessitatibus tempora ducimus, dolorum harum
      minus quasi beatae cumque, impedit reprehenderit. Aut deleniti natus unde
      provident explicabo accusantium, laborum suscipit autem quasi
      consequuntur, debitis dignissimos iure est rerum temporibus repellendus
      minus sequi ab omnis porro optio distinctio quae ipsam deserunt! Commodi
      tenetur provident praesentium quaerat placeat excepturi tempora
      voluptatum?
      <div style="height:200px">
        <header>21</header>
      </div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis quam, error
      officia qui sequi ad! Quasi voluptas alias molestiae a laborum fugit animi
      id, temporibus, dicta blanditiis aspernatur quas excepturi. Deleniti neque
      sit voluptatem voluptates rem necessitatibus in doloribus earum voluptate
      reiciendis expedita possimus magni esse incidunt cum et quae beatae minus,
      eveniet eaque dignissimos voluptatum quo aliquam. Voluptas ipsum, deserunt
      sunt autem nisi sit minima a praesentium aliquid! Qui dignissimos culpa
      quidem dicta aut adipisci sunt, nihil tenetur cupiditate aliquid velit
      alias quam cumque voluptatem quos magni praesentium sapiente fugiat. Modi
      nesciunt consequuntur aut at iste ad dolore autem soluta deleniti, unde
      amet distinctio sequi alias architecto quos veniam libero voluptatem est
      dignissimos fugiat nihil? Rerum odit nobis illum ipsa ex expedita, atque
      quam ipsum voluptas. Quae quaerat eos at, minima veniam deleniti harum hic
      placeat non libero, consequatur dolor asperiores commodi maxime accusamus
      fuga eius blanditiis! Nam adipisci quis necessitatibus. Sunt fugiat eaque
      harum unde dolor dolorem voluptatum facilis quae pariatur rerum. Quidem
      eveniet quis, voluptate similique quibusdam blanditiis. Minus ducimus
      quia, voluptatibus accusantium libero perspiciatis, atque numquam placeat
      explicabo hic odit provident! Sit quis mollitia eaque numquam architecto,
      expedita harum assumenda deserunt autem! Saepe error perferendis illum
      soluta rem sit vitae quasi? Molestias eligendi ea nobis id, vero veritatis
      consequuntur praesentium distinctio porro eius facere voluptates unde
      maxime autem nemo, quam facilis impedit voluptas modi dolores et animi
      voluptate recusandae. Placeat eveniet, ipsum harum ullam dicta expedita
      nihil incidunt explicabo nam labore beatae at qui est eaque natus debitis
      quos voluptatum rem quas aut quis vero eos. Possimus similique, deserunt,
      quae aperiam adipisci voluptates nesciunt temporibus molestiae labore
      error ipsa ut necessitatibus inventore obcaecati voluptatum commodi neque
      sed optio quidem itaque porro consequatur? Laborum officia accusantium rem
      quia. Eligendi, voluptas magnam? Laudantium, doloremque. Voluptatum maxime
      praesentium officiis quod deleniti saepe aspernatur sapiente at illum
      fugit, facere minus voluptatem consequuntur exercitationem dolorum. Quis
      itaque aliquid dolor obcaecati facilis tenetur quisquam laborum ab
      voluptates vel. Explicabo excepturi minima, adipisci aspernatur dolorem,
      in autem deleniti quod libero recusandae fuga molestias nesciunt. Nam
      aliquid voluptatibus, maiores aliquam unde sequi numquam tenetur
      cupiditate. Quas eligendi optio, accusantium suscipit reprehenderit
      obcaecati assumenda tenetur nam expedita odio a veritatis possimus
      consequatur laudantium dolore? Error cupiditate perferendis quo repellat a
      obcaecati officia similique blanditiis deleniti, aspernatur, officiis sit
      maxime voluptas alias ducimus ad pariatur nostrum eveniet, placeat iure
      vitae fugiat corporis exercitationem earum? Quod consectetur ea possimus
      rerum eius quas praesentium accusamus culpa molestiae in perspiciatis illo
      modi ratione blanditiis voluptatem doloremque magni cum, inventore beatae
      dolore veniam repellendus, sunt odio? Repellat ratione dolor impedit
      beatae pariatur voluptas aliquam maxime quos possimus nam voluptatibus,
      consectetur accusantium deleniti repudiandae cum odit quisquam totam
      eveniet. Corrupti ad est inventore architecto. Earum, modi et. Dicta quam
      suscipit alias! Beatae quaerat et ullam cupiditate odit quibusdam earum
      omnis natus itaque corporis cum tempora error, minima nam qui, harum,
      nobis nihil! Voluptates inventore, nemo eaque voluptatibus repudiandae
      vitae sunt cum soluta modi voluptatem quo hic, aspernatur non. Nulla magni
      nam amet sit ab quidem corrupti fugiat maxime veritatis assumenda aperiam
      necessitatibus, ullam maiores rem asperiores nisi corporis dolorum
      temporibus facilis autem quam odio! Quas, praesentium omnis! Architecto,
      ab corporis quae ad impedit ex sequi perspiciatis porro vero blanditiis
      repellendus, hic tempora quam et voluptatibus fugit debitis eligendi eum
      minus itaque rem voluptates obcaecati consequuntur illo. Natus temporibus
      corporis explicabo dolores, ipsam voluptas non ut velit hic reiciendis
      excepturi cumque accusantium odit consectetur vel, inventore doloribus
      totam, ratione facilis tenetur veniam possimus magni dolor necessitatibus!
      Cumque placeat consectetur ex dicta nisi dolorem a itaque blanditiis.
      Facere, dicta delectus voluptatibus dolores quo autem, vitae neque
      perferendis iusto vel voluptate accusamus tenetur dolore suscipit voluptas
      libero nobis dolorem facilis commodi! Asperiores corrupti deserunt,
      ratione beatae debitis vel fugit illo ipsum cumque iste tenetur? Dolore
      excepturi ipsum facere magnam, unde ratione vero libero fugiat at aperiam
      neque sunt. Numquam consectetur pariatur suscipit ipsam deleniti,
      asperiores non. Reiciendis quibusdam suscipit, odio atque incidunt
      possimus ad reprehenderit veniam saepe perspiciatis culpa quod! Delectus
      quia repellendus ratione accusamus nulla, dignissimos quibusdam
      perspiciatis distinctio, quidem quod ipsa incidunt labore? Nobis velit
      aliquid quas tenetur modi libero voluptates ab corporis, odit sequi totam
      suscipit! Iusto beatae modi reprehenderit, nesciunt voluptatibus
      voluptatem, porro harum commodi inventore voluptatum magni consequatur
      consequuntur! Sed qui corporis illo numquam aperiam ab cumque debitis
      nesciunt doloremque sint, libero dolorem similique eligendi rem architecto
      blanditiis? Error deleniti iste eius laudantium ea eos corporis voluptate.
      Cum culpa voluptatem odit natus, et, vitae atque fugiat, sit tempora alias
      rerum architecto minima suscipit quos. Ex inventore libero sequi maxime
      voluptatibus excepturi provident quis temporibus voluptates nulla
      accusantium necessitatibus optio, veniam labore culpa, reiciendis
      eligendi, iusto debitis ut tempore illum rem laudantium omnis earum? Iusto
      unde animi natus quisquam consequuntur. Sint deserunt beatae incidunt,
      tempore eveniet ab numquam iusto, nihil aut illo ad ducimus rem id
      excepturi a reiciendis illum corrupti, temporibus aliquam recusandae quas!
      Possimus illo dolorem excepturi, placeat, culpa vitae hic, nesciunt
      temporibus necessitatibus explicabo iusto. Quod dolorum nihil accusantium
      consectetur quis. Reiciendis sint, corporis ut itaque harum in saepe eos,
      qui et blanditiis veniam ipsum corrupti accusamus minus sequi? Fugiat
      corporis optio harum nisi explicabo eligendi ratione officia tempore.
      Tempore libero accusantium eaque cum, eveniet soluta voluptates quidem aut
      perferendis itaque exercitationem iure recusandae dolor deleniti, rem
      vitae doloribus. Illo recusandae, modi in molestias est pariatur? Dolorem
      ad quis soluta harum quia saepe magnam error, tenetur impedit sint
      sapiente sit optio reiciendis voluptate enim maiores necessitatibus eius
      recusandae doloremque! Consequatur architecto vero dolores, animi a
      officia ad quisquam id voluptatem quidem! Ducimus quaerat sapiente
      asperiores provident cumque minima quam amet fuga, vero obcaecati
      voluptatibus iste nulla dolor sed enim hic necessitatibus! Adipisci
      consectetur tempore dicta unde sequi aut nostrum, obcaecati quas optio
      velit sed eos in et dolorum sint laborum assumenda itaque error mollitia
      nulla doloremque. Quia perspiciatis repudiandae tempora dignissimos
      voluptatem! Harum sapiente est reiciendis consequuntur ea, fugit excepturi
      eaque non. Magni optio odit mollitia quo, facilis, illum voluptatibus,
      totam omnis molestiae accusamus explicabo assumenda sequi.
    </div>
  </body>
</html>
