<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <style>
        .red {
            background: red;
        }

        .green {
            background: green;
        }
    </style>

</head>


<body>


    <div class="green">block</div>

</body>
<script>
    let greenDom = document.querySelector('.green');

    let cloneDom = greenDom.cloneNode(true);


    cloneDom.setAttribute('age', "12");
    cloneDom.oop = 13;

    document.body.append(cloneDom)
</script>

</html>
<script>


</script>