.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
src/.umi/
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
service/app/data/api/football/football/**/*.json
# !service/app/data/**/mockData/
# !service/app/data/**/mockData/**/*.json
service/app/data/**/upload_*
