.uploadWrapper {
  width: 60% !important;
  height: auto !important;
  min-height: 154px !important;
  margin: 0 auto;
  margin-top: 25px;
  padding: 24px !important;

  :global {
    .ant-upload-text {
      margin-top: 30px !important;
    }
  }

  @media screen and (max-width: 1000px) {
    width: 100% !important;
  }
}

.btnWrap{
  width: 60%;
  margin: 30px auto 0;

}

.fileListWrap {
  width: 80%;
  margin: 65px auto;

  .itemWrap {
    display: flex;

    justify-content: center;

    margin-bottom: 35px;

    .name {
      flex-grow: 1;

      max-width: 560px;

      color: #333;
      font-weight: 500;
      font-size: 14px;

      text-indent: 6px;
      border-bottom: 1px solid #dcdcdc;
    }

    .actions {
      position: relative;

      padding-left: 45px;
      font-size: 18px;

      .loadingWrap {
        position: absolute;

        color: #349540;
        font-weight: bold;

        visibility: visible;
      }
    }
  }
}
