@import '~antd/lib/style/themes/default.less';
@width: 120px;

.layput {
  background-color: #fff;
}

.header {
  position: fixed;
  z-index: 1;

  width: 100%;

  background-color: #fff;
  box-shadow: @shadow-1-down;
}

.content {
  width: 85%;
  max-width: 960px;
  margin: @layout-header-height auto;
  padding-top: 5vh;
}
