@import "~antd/lib/style/themes/default.less";
@width: 120px;

.layout {
  background-color: #fff;
  &.showHeader {
    .header {
      display: flex;
      z-index: 999;
    }
    .content {
      margin-top: @topDistance;
      @topDistance: @layout-header-height + 20px;
      > * {
        height: ~"calc(100vh - @{topDistance})";
      }
    }
  }
  &.controlLayout {
    .content {
      width: 85%;
      max-width: 960px;
      margin-right: auto;
      margin-left: auto;
    }
  }
}
.header {
  position: fixed;
  z-index: 1;
  display: none;

  width: 100%;

  background-color: #fff;
  box-shadow: @shadow-1-down;
  .home {
    font-size: 20px;
    cursor: pointer;
    color:#111;
  }
  .actions {
    display: flex;

    flex-grow: 1;
    align-items: center;
    justify-content: center;
  }
}

.timeWrapper {
  color: #695a5a;
  font-weight: bold;
  font-size: 28px;
}
