.main {
  display: flex;
  flex-direction: column;
  padding: 0 1em;
}
.contentWrap {
  display: flex;
  flex-grow: 1;
  .apiMenu {
    flex-grow: 0;
    width: 420px;
  }
  .apiDoc {
    flex-grow: 1;
  }
}
