.titleModel {
  :global {
    .ant-card-body {
      display: none;
    }
  }
}
.noteWrapper {
  &:hover {
    :global {
      .ant-card-actions {
        li {
          opacity: 1;
        }
      }

      .ant-card-extra {
        opacity: 1;
      }
    }
  }

  :global {
    .ant-card-body {
      padding: 2em 6px 1.5em 36px;

      white-space: pre-wrap;
    }
  }

  img {
    max-width: 100%;
  }
}

.actionWrap {
  display: flex;

  align-items: center;

  height: 40px;
  background-color: #fafafa;

  border: 1px solid #f0f0f0;

  &.top {
    border-bottom: none;
  }

  &.bottom {
    border-top: none;
  }
  &.mobile {
    .item {
      opacity: 1;
    }
  }
  &:hover {
    .item {
      opacity: 1;
    }
  }

  .item {
    flex-grow: 1;
    text-align: center;

    opacity: 0;
    transition: opacity 0.35s linear;
  }
}

.linkWrapper {
  white-space: pre-wrap;
}

.lineWrapper {
  display: flex;

  margin: 2px 0;
  line-height: 32px;

  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;

  :global {
    .actions {
      flex-shrink: 0;
      margin-right: 10px;

      opacity: 0;

      transition: opacity ease-in 0.35s;
    }

    .contents {
      flex-grow: 1;
      overflow-y: auto;
      /*
       防止代码块又过长的行，导致宽度溢出父容器
      */

      transition: background-color 0.25s linear;
    }
  }

  &:hover {
    :global {
      .actions {
        opacity: 1;
      }

      .contents {
        background-color: #fff6f6;
      }
    }
  }
}

.imgWrapper {
  flex-grow: 1;

  max-height: 300px;
  margin: 1em;
  overflow: hidden;
}
